<h1>Nearest Bus to You</h1>

<p>
	Give us your address or approximate location, and we'll let you know if there's a bus in the area!
</p>

<%= render 'form' %>




<!-- 
<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %> -->
