<!DOCTYPE html>
<html>
<head>
  <title>BusTracker</title>
  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrXQs_QawfdPCV8mzich0WopKQtxJUCzY"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
	<%= yield %>
</div>

</body>
</html>
